//variables
@import "./components/variables";
//generals
@import "./components/generals";
//header
@import "./components/header";
//section footer
@import "./components/footer";
//section hero
@import "./components/hero";
//section made-simple
@import "./components/made-simple";
// section orange-banner
@import "./components/oranger-banner";
