* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Roboto, sans-serif;
  background-image: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow-x: hidden;
}
//functions
@function rem($value: 2rem) {
  @return ($value / 16 * 1rem);
}
.container-fluid{
  position: relative;
  margin: auto;
}
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 47px;
  margin-left: 22px;
  background-color: $color-one;
  border-radius: 5px;

  &-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
    text-decoration: none;
  }
}
.container{
  max-width: rem(1300);
  width: 100%;
  margin: 0 auto;
}
.bg-test-1{
  background-color: khaki;
}