* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Roboto, sans-serif;
}
//functions
@function rem($value: 2rem) {
  @return ($value / 16 * 1rem);
}
.container-fluid{
  max-width: rem(1480);
  width: 100%;
  margin: 0 auto;
}
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 47px;
  margin-left: 22px;
  background-color: $color-one;
  border-radius: 5px;

  &-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
    text-decoration: none;
  }
}