.made-simple{
  position: relative;
  background-color: white;
  z-index: 30;
  
  &__title{
    text-align: center;
    width: 31.3%;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    color: $color-three;
    padding-top: rem(35);
  }
}
.made-simple__cards{
  display: flex;
}
.card{
  width: 33.3%;
  padding-top: rem(97);
  padding-bottom: rem(146.61);
  padding-right: 20px;
  &:last-child{
    padding-right: 0;
  }
  &:nth-child(2){
    padding-top: rem(171);
  }
  &:nth-child(3){
    padding-top: rem(247);
  }
  &__title{
    padding-top: rem(66.6);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: $color-three;
  }
  &__text{
    padding-top: rem(35.12);
    line-height: rem(30);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $color-four;
  }
  &__figure{
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  }
  &__img{
    width: 100%;
  }
  &__img1{
    position: absolute;
    top: rem(58.4);
    bottom: 0;
    left: rem(-70);
  }
  &__img2{
    position: absolute;
    top: 16px;
    left: rem(-48);
  }
  &__img-square{
    position: absolute;
    top: rem(-42);
    left: rem(48);
  }
  &__img-facebook{
    position: absolute;
    top: rem(112);
    left: rem(48);
  }
  &__img-mailchimp{
    position: absolute;
    top: rem(19);
    left: rem(289);
  }
  &__img-jetpack{
    position: absolute;
    top: rem(134);
    left: rem(229);
  }
  &__img-google-ads{
    position: absolute;
    top: rem(249);
    left: rem(153);
  }
  &__img-funny{
    position: absolute;
    top: rem(136);
    left: rem(322);
  }
  &__img-team{
    position: absolute;
    top: rem(-76);
    left: rem(47);
  }
  &__img-vacations{
    position: absolute;
    top: rem(-118);
    left: rem(272);
  }
}
.btn-primary--made-simple {
  width: rem(230);
  height: 0;
  background-color: transparent;
  border-radius: 0px;
  margin: 0;
  padding-top: rem(31);
  display: flex;
  justify-content: flex-start;
  span {
    padding-right: 10px;
    color: $color-four;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }

  a {
    color: $color-five;
  }
  @include display(mobile){
    width: 11.6875rem;
    height: 2.3rem;
    border-radius: 60px;
    margin: 40px 0;
    a{
      font-size: 13px;
    }
  }
}