//colors
$color-one: #FF890D;
$color-two: #9A7DFF;
$color-font: #272D4E;

@mixin display($size) {
  @if $size == small {
    @media (max-width: 576px) { @content; }
  }@else if $size == mobile {
    @media (max-width: 1200px) { @content; }
  }
}
